{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Answer the following question
{% endblock %}

{% block content %}
    {% if player.id_in_group == 1 or player.id_in_group == 4 %}
        <p>Other participators got a new Oreo Chocolate Candy Bar!</p>
        <p><img src="https://fortunedotcom.files.wordpress.com/2016/11/milka-oreo-chocolate-candy-bar-3-52oz.png" width="800" height="320"></p>
        <p>How much money are you willing to pay in order to get this chocolate bar?</p>
        {% formfield player.pay_amount %}
    {% else %}
        <p>How much money are you willing to sell your chocolate bar for?</p>
        {% formfield player.sell_amount %}
    {% endif %}
    <p>
        {% next_button %}
    </p>
{{ form.errors }}
{% endblock %}